*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #a1c3d1;
    --input-color: #b39bc8;
    --bb-color: #f172a1;
    --txt-color: rgb(0, 0, 0);
    --btn-color: #e64398;
    --btn-text: #f0ebf4;
    --font-fam: 'Fjalla One';
}
