.create-account-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.create-account-form .form-group {
    height: 60vh;
}
