.header {
    width: 100%;
    height: 10vh;
}

.header img {
    /* position: absolute;
    top: -4vh;
    left: 2vw; */
    width: 15%;
}

.menu-icon,
.close-menu {
    position: fixed;
    top: 2vh;
    right: 5vw;
    z-index: 3;
    color: var(--txt-color);
    font-size: 5vh;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: var(--txt-color);
    font-size: 7vh;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bb-color);
    list-style: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .navbar {
        width: 100vw;
        height: 10vh;
        padding: 2vh;
        position: fixed;
        top: 0;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .nav-link {
        color: var(--txt-color);
        text-decoration: none;
        font-size: 2vh;
    }
}
