.profile-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username {
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: 2.5vh;
}

.edit-div {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.avatar img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.name,
.biography {
    width: 50%;
    height: 4vh;
}

.name {
    font-weight: bold;
    margin-top: 1vh;
}

.edit-profile {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--input-color);
}

.edit-profile a {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--btn-text);
    margin: 0;
}

.posts {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 110px;
    padding: 1%;
}

.small-post {
    width: 100%;
    height: 100%;
    padding: 2%;
}

.small-post img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.big-post {
    width: 100%;
    height: 100%;
    background-color: var(--btn-text);
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease;
    padding: 10% 0;
}

.big-post img {
    width: 90%;
    height: 60%;
    margin: 10%;
    padding: 0;
    border: 3px solid var(--input-color);
}

.small-post i {
    display: none;
}

.small-post p {
    display: none;
}

.small-post button {
    display: none;
}

.exit {
    position: absolute;
    top: 12%;
    right: 3%;
    font-size: 2em;
    z-index: 1;
}

.big-post i {
    display: flex;
}

.big-post p {
    display: block;
}

.description {
    display: flex;
    width: 100%;
    height: auto;
    padding: 2vh;
}

.big-post .username-post {
    font-weight: bold;
    margin: 0 5vw 0 3vw;
}

.post-date {
    font-size: 0.8em;
    font-weight: 200;
    margin-left: 6vw;
}

.like {
    display: flex;
    width: 100%;
    height: 3%;
    justify-content: space-between;
    align-items: center;
    margin-top: -3vh;
}

.like i {
    position: absolute;
    right: 6vw;
    font-size: 2.3em;
}

.liked {
    color: var(--bb-color);
}

.big-post .btn-primary {
    display: block;
    background-color: var(--btn-color);
    border: none;
    border-radius: 3%;
    height: 5vh;
    width: 30vw;
    font-size: 5vw;
    color: var(--btn-text);
}

.big-post .like-button {
    display: block;
}

.post-buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.4s ease;
    width: 90%;
    height: 30%;
}

.edit-inputs {
    width: 95%;
    height: 50%;
}

.confirm-edit {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.delete-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.4s ease;
    width: 90%;
    height: 30%;
}

.confirm-delete-buttons {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-delete p {
    margin-bottom: 5%;
}

.update-description-field {
    width: 100%;
    height: 80%;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.hidden::before {
    display: none;
}

.posts-header {
    opacity: 0;
    width: 100vw;
    height: 20%;
}

.posts-header a {
    width: 30%;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3% 0 3% 10%;
}

.upload {
    padding-bottom: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.upload-post {
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--input-color);
    color: var(--btn-text);
    margin: 0;
    height: 6vh;
    width: 45%;
    text-align: center;
    padding-top: 2%;
}

.upload-post-group {
    background-color: var(--bg-color);
    margin-top: 10%;
}

.upload-post-group .form-group {
    height: 45vh;
}

.post-likes {
    position: absolute;
    right: 15vw;
    margin-top: 2vh;
}
