.settings-page {
    width: 100vw;
    height: auto;
    padding: 15% 0;
}

.avatar-group {
    width: 100vw;
    padding-left: 10%;
}

.avatar-group .form-group {
    height: 20vh;
}

.avatar-input,
.image-input {
    background-color: var(--input-color);
    font-size: 2.2vh;
    color: var(--btn-text);
}

.settings-group {
    padding-left: 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5%;
    border: 5px solid var(--input-color);
}

.settings-group .form-group {
    height: 65vh;
}

.bio-field {
    height: 10vh;
    text-align: center;
}

.delete-account-btn {
    width: 60%;
    margin-left: 20vw;
}

.confirm-delete-account {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 0 -5vw;
    height: 50%;
    width: 100%;
    background-color: var(--input-color);
}
