.settings-page {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 35% 0;
}

.avatar-group {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar-group .form-group {
    height: 20vh;
}

.avatar-input,
.image-input {
    background-color: var(--input-color);
    font-size: 2.2vh;
    color: var(--btn-text);
}

.settings-group {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    border-top: 5px solid var(--input-color);
}

.settings-group .form-group {
    height: 65vh;
}

.settings-group .form-group-email,
.settings-group .form-group-password {
    width: 60vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bio-field,
.description-field {
    height: 10vh;
    width: 60vw;
    text-align: center;
}

.delete-account-buttons {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.delete-account-btn {
    width: 60%;
    margin-top: 5%;
}

.delete-account {
    background-color: var(--delete-btn);
}

.cancel-delete-btn {
    background-color: var(--cancel-btn);
}

.confirm-delete-account {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    height: 15vh;
    width: 100%;
    background-color: var(--input-color);
}

.label-confirm {
    margin-top: 10%;
}
